@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* Variables */
:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
}

/* Base style */
body {
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
  color: #fff;
  line-height: 1.6;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar__logo {
  width: 112px;
  height: 36px;
}

.navbar__menu {
  display: none;
}

.navbar__container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navbar__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar__menu-link,
.navbar__menu-link--primary {
  transition: color 0.3s ease-in;
}

.navbar__menu-link--primary {
  color: var(--primary-color);
}

.navbar__menu-link:hover {
  color: var(--primary-color);
}
.navbar__menu-link--primary:hover {
  color: #fff;
}
/* ############### */
/* MEDIA QUERIES */
/* ############### */
@media (min-width: 768px) {
  .navbar__menu {
    display: inline;
  }
}
